/* Reset de margens e paddings */
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

/* Corpo */
body {
    font-family: 'Roboto', sans-serif; /* Fonte limpa e moderna */
    background-color: #f5f5f5; /* Cor de fundo clara */
    color: #333; /* Cor do texto */
    line-height: 1.6; /* Melhora a legibilidade */
    padding: 20px;
    margin-top: 80px; /* Adicionando margem superior para o conteúdo não ficar sobre a barra */
}

/* Cabeçalho */
header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    color: #006666; /* Verde vibrante */
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
    color: #666;
}

/* Barra de Navegação */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #008584;
    padding: 10px 20px;
    z-index: 1000;
    transition: top 0.3s;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    font-size: 1.2em;
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav.hidden {
    top: -60px; /* Esconde a barra ao rolar para baixo */
}

/* Seção Sobre Mim */
#about-me {
    padding: 30px;
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    margin-top: 30px;
}

/* Estilos para os blocos individuais dentro da seção Sobre Mim */
.about-text {
    background-color: #f5f5f5; /* Fundo claro para cada bloco */
    padding: 20px;
    border-radius: 8px; /* Bordas arredondadas */
    margin-bottom: 20px; /* Espaço entre os blocos */
}

.about-text h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 15px;
}

.about-text h3 {
    color: #008584;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.about-text p {
    font-size: 1.1em;
    margin-bottom: 15px;
    color: #333;
}

.about-text ul {
    list-style: none;
    padding-left: 0;
}

.about-text ul li {
    font-size: 1.1em;
    margin-bottom: 5px;
}

/* Estilos para links */
a {
    color: #008584;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    header h1 {
        font-size: 2em;
    }

    #about-me {
        padding: 20px;
    }

    .about-container {
        flex-direction: column; /* Coloca imagem e texto em coluna em dispositivos menores */
        align-items: center; /* Centraliza imagem e texto */
    }

    .profile-img img {
        width: 80px; /* Ajuste o tamanho da imagem em telas pequenas */
        height: 80px; /* Ajuste o tamanho da imagem em telas pequenas */
    }
}
